/*
          _                         _
__      _| | ___   __ _  ___  _   _| |_
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
 \ V  V /| | (_) | (_| | (_) | |_| | |_
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                  |___/   */
			
* {
	font-family: "JetBrainsMono Nerd Font";
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
	font-size: 10pt;
}

button {
	margin: 10px;

	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	
	border-style: solid;
	border-width: 1px;
	border-radius: 20;
	border-color: black;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	background-color: #1E1E1E;
	
	min-width: 150px;
    min-height: 150px;	
}

button:focus, button:active, button:hover {
	background-color: #64727D;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/logout.png"))
}

#suspend {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/reboot.png"));
}

/* home/moran/Projects/hyprland-rice/dotfiles/.config/wlogout/icons/hibernate.png */